<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepfake Video Detection</title>
    <link rel="stylesheet" href="../static/styles.css">
    <!-- Optional: Google Fonts for modern look -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="card">
            <!-- Background video -->
            <video class="card-bg" autoplay muted loop>
                <source src="../static/2_Background_3840x2160.mov" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <!-- Card content -->
            <div class="card-content">
                <h1>Deepfake Video Detection</h1>
                <p>Upload your video below to check for deepfake content</p>

                <form action="/upload" method="post" id="uploadForm" enctype="multipart/form-data">
                    <label for="customFile" class="form-label">Choose file</label>
                    <input type="file" id="customFile" name="file" onchange="updateFileName()">
                    <button type="submit" method="post">Upload Video</button>
                </form>

                <!-- <p id="message"></p>
                <video id="videoPreview" controls></video> -->
            </div>
        </div>
    </div>

    <script>
        function updateFileName() {
            var fileInput = document.getElementById("customFile");
            if (fileInput.files.length > 0) {
                alert("Selected file: " + fileInput.files[0].name);
            }
            customFile.style.color = "black"
        }
    </script>
</body>

</html>